<div>
  <div class="bg-primaryDark h-85vh sm:p-5 flex items-center justify-center banner">
    <div class="text-center w-full">
      <h1 class="text-5xl sm:text-4xl leading-none mb-5 font-bold text-white">
        Find all <span class="text-primary">Images and Texts</span> on your website
      </h1>
      <p class="mb-5 text-base sm:text-sm text-white">
        This is a small <span class="font-bold">user-friendly program</span> that allows you see all images and text count on a given website URL
      </p>

      <!-- form component -->
      <app-search-form></app-search-form>

      <!-- footer banner text -->
      <div class="text-white absolute left-0 right-0 mt-10 text-xs font-bold">
        <a class="">Have questions? Send a mail</a>
        <div style="max-width: 160px; height: 2px;" class="w-full m-auto bg-primary mt-1"></div>
      </div>
    </div>
  </div>

  <!-- this is the footer -->
  <app-footer></app-footer>
</div>
